In [6]:
import pandas as pd
import pymongo

df = pd.read_csv("data.csv")
# df.head(5)

In [7]:
data = df.to_dict(orient='records')

In [ ]:
DB_Name = "Proj1"
COLLECTION_NAME = "Proj_1"
CONNECTION_URL = ""

In [11]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_Name]
collection = data_base[COLLECTION_NAME]

In [12]:
rec = collection.insert_many(data)

In [13]:
df = pd.DataFrame(list(collection.find()))
df.head(5)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,69356cc83ed11e32cf2834a9,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,69356cc83ed11e32cf2834aa,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,69356cc83ed11e32cf2834ab,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,69356cc83ed11e32cf2834ac,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,69356cc83ed11e32cf2834ad,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0